<button draggable="true" data-id="{{id}}" data-token-id="{{token.id}}" data-action="updateTarget" data-collection="pendingTargets" class="button target">
    <img src="{{thumbnail}}" class="thumbnail" alt="{{token.name}}" >
    <label>{{token.name}}</label>
    {{#each priorityReasons~}}
        {{#if icon}}<img class="icon" src="{{icon}}" alt="{{reason}}" data-tooltip="{{reason}}">{{/if}}
    {{~/each}}
    {{#each invalidReasons~}}
        {{#if icon}}<img class="icon" src="{{icon}}" alt="{{reason}}" data-tooltip="{{reason}}">{{/if}}
    {{~/each}}
</button>