<button draggable="true" data-action="updateTarget" data-collection="targetPool" data-id="{{id}}" data-token-id="{{token.id}}" {{#if (lookup pendingTargets id)}}disabled {{/if}}class="target {{#if priority}}priority{{else if recommended}}recommended{{else if valid}}valid{{else}}invalid{{/if}}">
    <img src="{{thumbnail}}" class="thumbnail" alt="{{token.name}}" >
    <label>{{token.name}}</label>
    {{#each priorityReasons~}}
        {{#if icon}}<img class="icon" src="{{icon}}" alt="{{reason}}" data-tooltip="{{reason}}">{{/if}}
    {{~/each}}
    {{#each invalidReasons~}}
        {{#if icon}}<img class="icon" src="{{icon}}" alt="{{reason}}" data-tooltip="{{reason}}">{{/if}}
    {{~/each}}
</button>