<div data-token-id="{{token.id}}" class="target">
    <img src="{{thumbnail}}" class="thumbnail" alt="{{token.name}}" >
    <label>{{token.name}}{{#if (gt recommendationCount 1)}} <span>(x{{recommendationCount}})</span>{{/if}}</label>
</div>