<div class="roll-enhancements">
    <header>
        <i class="fas fa-crosshairs"></i><h2>{{localize "fu-roll-enhancements.autoTarget.results.title" label=label}}</h2>
    </header>
    <section class="target-results targets">
        {{#if results}}
            {{#each results}}
                <div class="target total default" data-token-id="{{token.id}}">
                    <label>{{token.name}} <span>{{#if (gt count 1)}}(x{{count}}){{/if}}</span></label>
                    <span>{{#if forcedBy}}({{forcedBy.name}}){{/if}}</span>
                    <a class="inline-control icon fa-solid fa-bullseye-arrow" data-action="pingToken" data-token-id="{{token.id}}"></a>
                </div>
            {{/each}}
        {{else}}
            <section class="detail-desc">
                <p>{{localize "fu-roll-enhancements.autoTarget.results.noTargets"}}</p>
            </section>
        {{/if}}
    </section>
</div>