<div class="roll-enhancements">
    <header>
        <i class="fas fa-crosshairs"></i>
        <h2>
            {{~#if label~}}
                {{~localize "fu-roll-enhancements.autoTarget.results.title.label" label=label~}}
            {{~else~}}
                {{~localize "fu-roll-enhancements.autoTarget.results.title.noLabel"~}}
            {{~/if~}}
        </h2>
    </header>
    <section class="target-results targets">
        {{#if results}}
            {{#each results}}
                <a class="target total default" data-token-id="{{token.id}}" data-action="pingToken">
                    <img class="thumbnail" src="{{thumbnail}}" alt="{{token.name}}">
                    <label>{{token.name}} <span>{{#if (gt count 1)}}(x{{count}}){{/if}}</span></label>
                    <span class="priority-reasons">{{#each priorityReasons~}}
                        {{#if icon}}<img class="icon" src="{{icon}}" alt="{{reason}}" data-tooltip="{{reason}}">{{/if}}
                    {{~/each}}</span>
                    <i class="fas fa-crosshairs"></i>
                </a>
            {{/each}}
        {{else}}
            <section class="detail-desc">
                <p>{{localize "fu-roll-enhancements.autoTarget.results.noTargets"}}</p>
            </section>
        {{/if}}
    </section>
</div>