<fieldset class="title-fieldset desc resource-content">
  <legend class="resource-label-full">
    <label class="resource-label-m">
      <i class="fas fa-crosshairs icon"></i>
      {{localize "fu-roll-enhancements.autoTarget.options.title"}}
    </label>
  </legend>
  <div class="item-settings">
    <label class="checkbox resource-label-m">
      <span>{{localize "fu-roll-enhancements.autoTarget.options.enable.label"}}</span><input
        name="flags.fu-roll-enhancements.autoTarget.enable" type="checkbox"
        {{checked item.flags.fu-roll-enhancements.autoTarget.enable}}>
    </label>
    <label class="checkbox resource-label-m">
      <span>{{localize "fu-roll-enhancements.autoTarget.options.repeat.label"}}</span><input
        name="flags.fu-roll-enhancements.autoTarget.repeat" type="checkbox"
        {{checked item.flags.fu-roll-enhancements.autoTarget.repeat}}>
    </label>
  </div>
  <div class="grid grid-3col gap-5">
    <div class="resource-content flexcol grid-span-2 flex-group-center">
      <label for="flags.fu-roll-enhancements.autoTarget.targetType" class="resource-label-m">
        {{localize "fu-roll-enhancements.autoTarget.options.targetType.label"}}
      </label>
      <select name="flags.fu-roll-enhancements.autoTarget.targetType" class="resource-inputs select-dropdown-full">
        {{selectOptions targetTypes selected=item.flags.fu-roll-enhancements.autoTarget.targetType localize=true}}
      </select>
    </div>
    <div class="resource-content flexcol flex-group-center">
      <label for="flags.fu-roll-enhancements.autoTarget.maxTargets" class="resource-label-m">
        {{localize "fu-roll-enhancements.autoTarget.options.maxTargets.label"}}
      </label>
      <input type="number" step="1" min="0" name="flags.fu-roll-enhancements.autoTarget.maxTargets" class="resource-inputs"
        value="{{item.flags.fu-roll-enhancements.autoTarget.maxTargets}}">
    </div>
  </div>
</fieldset>