<header class="title-desc chat-header flexrow">
  <h2>{{localize "fu-roll-enhancements.autoTarget.results.title" targetType=targetType}}</h2>
</header>
{{#if results}}
<ol>
  {{#each results}}
  <li class="target">
  {{target.document.actor.link}}
  {{#if (gt count 1)}}x{{count}}{{/if}}
  {{#if forced}}({{forced.name}}){{/if}}
  </li>
  {{/each}}
</ol>
{{else}}
<ul>
  <li>{{localize "fu-roll-enhancements.autoTarget.results.noTargets"}}</li>
<ul>
{{/if}}