<header class="title-desc chat-header flexrow">
  <h2>{{localize "fu-roll-enhancements.autoSpend.results.title"}}</h2>
</header>
<div class="flexrow gap-5">
  <div class="detail-desc">
    <div>
      <label class="title">{{localize "fu-roll-enhancements.autoSpent.results.starting.title"}}</label>
      <label class="detail">{{results.formattedStarting}}</label>
    </div>
    <div>
      <label class="title">{{localize "fu-roll-enhancements.autoSpent.results.spent.title"}}</label>
      <label class="detail">{{results.formattedSpent}}</label>
    </div>
    <div>
      <label class="title">{{localize "fu-roll-enhancements.autoSpent.results.remaining.title"}}</label>
      <label class="detail">{{results.formattedRemaining}}</label>
    </div>
  </div>
</div>