<fieldset class="pending-targets">
    <legend>{{localize "fu-roll-enhancements.targetGuide.pendingTargets.label"}}</legend>
    <div class="pending-target-entries">
        {{#each pendingTargets}}
            {{> "modules/fu-roll-enhancements/templates/partials/pending-target-entry.hbs"}}
        {{/each}}
    </div>
    <span class="total" data-tooltip="{{localize "fu-roll-enhancements.targetGuide.pendingTargetCount.hint"}}">
        {{localize "fu-roll-enhancements.targetGuide.pendingTargetCount.label"}}: {{pendingTargetCount}}{{#if maxTargets}} / {{maxTargets}}{{/if}}
    </span>
</fieldset>