<div class="target-legend">
    <span class="priority" data-tooltip="{{localize "fu-roll-enhancements.targetGuide.priority.hint"}}">
        <label>{{localize "fu-roll-enhancements.targetGuide.priority.label"}}</label>
    </span>
    <span class="recommended" data-tooltip="{{localize "fu-roll-enhancements.targetGuide.recommended.hint"}}">
        <label>{{localize "fu-roll-enhancements.targetGuide.recommended.label"}}</label>
    </span>
    <span class="valid" data-tooltip="{{localize "fu-roll-enhancements.targetGuide.valid.hint"}}">
        <label>{{localize "fu-roll-enhancements.targetGuide.valid.label"}}</label>
    </span>
    <span class="invalid" data-tooltip="{{localize "fu-roll-enhancements.targetGuide.invalid.hint"}}">
        <label>{{localize "fu-roll-enhancements.targetGuide.invalid.label"}}</label>
    </span>
</div>